<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
		{% block styles %}{% endblock %}
	</head>

	<body>
		<div class="container">

			<!--NAVIGATION-->
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="navbar-brand" href="/"><img src="/static/img/lorem-sorem-greyscale.jpg" width="50" height="50" class="img-circle"/></a>
		
					<div class="navbar-collapse-collapse">
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">All Designs</a></li>
						</ul>
					</div>
				</div>
		</div>
		</div>

	<!--MAIN STUFF-->
		<div id="feature">
			<div class="container">
			<div class="span8 offset2 headline">
				<h1>In Browser Drawing App</h1>
			</div>
		</div>
		</div>

		{% block body %}{% endblock %}
        <!-- Copyright Area -->
        <hr>
        <div class="container">
            <div class="footer fixed-bottom">
            	<p>A page for ITP DWD Fall 2013 by Liz Khoo</p>
            </div>
        </div>
	</div> <!-- /container -->

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

	</body>
</html>