{% extends "layout.html" %}

{% block body %}

<div id="content">

	{% for design in designs %}
	<div class="boxportfolio4">
	<div class="boxcontainer">

		{% if design.image %}
		  <div id="{{ design.slug }}"></div>
		  <script>var vertices="{{ design.design }}"; var divID = "{{ design.slug }}";</script>
		  <script src="../static/js/simpleThree.js"></script>
		{% endif %}

		<div class="roll"></div>

		<h1><a href="/designs/{{ design.slug }}">{{ design.title }}</a></h1>
		<p>by {{ design.designer }}</p>
		
		{% for cat in design.categories %}
			<span class="label label-inverse">
				<a href="/category/{{ cat}}">{{ cat|replace("_"," ") }}</a>
			</span>
		{% endfor %}
		</p>

	</div>
	</div>
	{% endfor %}

</div>
{% endblock %}

{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}